@import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');
body {
	background: linear-gradient(135deg,#1A2980,#26D0CE);
	min-height: 100vh;
	margin: 0px;
}
.navbar {
 	overflow: hidden;
	background: #1A2980;
	box-shadow: 0 0 4px;
	box-sizing: border-box;
}
.navbar h1,img {
  float: left;
  font-size: 50px;
  font-family: 'Contrail One', cursive;
  color: white;
  margin: 0;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}
.navbar h1 {
	margin-top : 10px;
}
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 24px;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
  border: 2px solid white;
}
.header {
	display: flex;
	width: 1800px;
	justify-content: space-evenly;
	align-items: flex-start;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #282828;
}
.subnav button  {
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  height: 50px;
  background-color: #282828;
  width: 100%;
  z-index: 2;
}
.subnav-content a {
  float: left;
  width: 15%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 12px;
  padding-left: 5px;
}
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.subnav:hover .subnav-content {
  display: block;
}
.sidebar {
  height: 100%;
  margin-top: 109px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 2px;
  border-color: white;
  box-shadow: 0 4px 3px ; 
  background-color: #00000047;
  overflow-x: hidden;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style sidebar links */
.sidebar a {
  padding: 10px 8px 6px 10px;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  color: #eee;
  display: inline-block;
  /*margin: auto;*/
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
  border-bottom: 2px solid #fff;
}

/* Style the main content */
.main {
  margin-left: 245px; /* Same as the width of the sidenav */
  padding: 0px 5px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}